<div class="row mt-5">
  <div class="col-12">

    <div mwlDraggable
         mwlDroppable
         class="bucket border mb-4 p-4 shadow"
         *ngFor="let bucket of buckets"
         (dragStart)="selectBucket(bucket)"
         (drop)="transferBucket(bucket)"
         [style.width]="(bucket.max * 10) + '%'">

        <div class="row mb-2">
            <div class="pl-5 pr-5">
                Max value: <strong>{{ bucket.max }}</strong>
            </div>
            <div class="pl-5">
                Current value: <strong>{{ bucket.value }}</strong>
            </div>
        </div>

        <progress-bar [progress]="(bucket.value / bucket.max) * 100" [color]="'#0275d8'">
        </progress-bar>
    </div>
  </div>
</div>
